.Rhistory
.RData
.Ruserdata
.Rproj.user/
.Rcheck/
*.tar.gz
*.Rproj
.DS_Store
._*
docs/
_site/
release/_RELEASE_GATE_OUTPUT/
release/_RELEASE_ASSETS/
_CHECK_OUTPUT/
_SMOKE_TEST_OUTPUT/
_VALIDATION_OUTPUT_INITIAL/
_VALIDATION_LIBRARY/
_VALIDATION_SETUP/
_CONFIRMATORY_VALIDATION_OUTPUT/
_CONFIRMATORY_VALIDATION_LIBRARY/
_CONFIRMATORY_VALIDATION_SETUP/
_ROBUST_CALIBRATION_OUTPUT/
_ROBUST_CALIBRATION_LIBRARY/
_ROBUST_CALIBRATION_SETUP/
